mixin createList(properties)
  each val, key in property
    b #{key}
    ul
      each item in val
        li
          p #{item}

html
  head
  title #{title}
  style
    include styles/main.css
  body
    div(class="content")
      header(class="block")
        h1 #{handle}
      div(class="padded")
        if isOwn
          p Welcome back, #{handle}!
          p Your authorization token is
            b  #{token}
            span , but it's saved in your cookies safely!
          p Please keep it safe though in case you ever clear your cookies or need to authorisize from another cookie etc. You'll need it then to be able to authorisize again!
          p Here are the properties you currently own:
        else
          p You're viewing #{handle}, a humble user!
          p #{handle} seems to own the following properties:

        br

        +createList(property)

        br

        a(href="/") Back to main page
