html
  head
  title New Character?
  style
    include styles/main.css
  body
    div(class="content textcontent")
      header(class="block")
        if worldmissing
          h2 You seem to be lost, "#{world}" doesn't exist.
        else
          if creation
            h2 Do you want to create the character "#{name}" in the world "#{world}"?
          else
            if popLimit
              h2 #{world} seems to be full. Contact the server admin if you <i>really</i> want to create this character.
            else
      div(class="padded")
        if creation
          if worldmissing
          else
            <a href="/c/n/#{world}/#{name}">Yes!</a><br>
        <a href="/">Return to the index.</a>
