mixin statrow(stat)
  <tr>
    <td class="val#{stat}">?</td>
    <td>#{stat} <a onclick="increaseStat('#{stat}')">↑</a> <a onclick="decreaseStat('#{stat}')">↓</a></td>
    <td class="pts#{stat}">?</td>
    <td class="rol#{stat}"></td>
  </tr>

html
  head
    title Sheet for #{name}
    style
      include style.css
  body
    h1#charactername #{name}
    <hr>
    <table>
      <tr>Characteristics</tr>
      <tr><td>Val</td><td>Char</td><td>Points</td><td>Roll</td></tr>
      +statrow("str")
      +statrow("dex")
      +statrow("con")
      +statrow("int")
      +statrow("ego")
      +statrow("pre")
      +statrow("ocv")
      +statrow("dcv")
      +statrow("omcv")
      +statrow("dmcv")
      +statrow("spd")
      +statrow("pd")
      +statrow("ed")
      +statrow("rec")
      +statrow("end")
      +statrow("body")
      +statrow("stun")
    </table>
    <hr>
    <table>
      <tr>Experience</tr>
      <tr><td>Spent:</td><td>#{spentexp}</td></tr>
      <tr><td>Total:</td><td>#{totalexp}</td></tr>
    </table>
    <hr>
    <table>
      <tr>Current Status</tr>
      <tr><td>Stat</td><td>Maximum</td><td>Current</td></tr>
      <tr><td>END</td><td class="valend"></td><td>#{end}</td></tr>
      <tr><td>BODY</td><td class="valbody"></td><td>#{body}</td></tr>
      <tr><td>STUN</td><td class="valstun"></td><td>#{stun}</td></tr>
    </table>
    <hr>
    <table>
      <tr>Vital Information</tr>
      <tr><td>HTH Damage</td><td>#{hthdmg}</td></tr>
      <tr><td>Lift </td><td>#{liftwg}</td></tr>
    </table>
    <hr>
    <script>
    include sheet.js
    </script>
