html
  head
  title #{title}
  style
    include style.css
  body
    h1 Sheet for #{name}
    p #{pronoun} (<a href="/e/#{name}/gender">change?</a>) has #{str} strength (<a href="/e/#{name}/strup">+</a> <a href="/e/#{name}/strdown">-</a>), #{dex} dexterity (<a href="/e/#{name}/dexup">+</a> <a href="/e/#{name}/dexdown">-</a>), and #{int} intelligence (<a href="/e/#{name}/intup">+</a> <a href="/e/#{name}/intdown">-</a>).
